<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Add Client</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="menu-btn">
                <i class="ph-bold ph-caret-left"></i>
            </div>
            <div class="head">
                <div class="user-img">
                    <img src="{{ url_for('static', filename='img/user.jpg') }}" alt="User" />
                </div>
                <div class="user-details">
                    <p class="title">Admin</p>
                    <p class="name">Kartik</p>
                </div>
            </div>
            {% include 'menu.html' %}
        </div>
        <div class="main-content">
            <div class="content-area">
                <div class="card">
                    <button id="backButton">
                        <a href="{{ url_for('clients_list')}}"><i class="ph-bold ph-arrow-left"></i></a>
                    </button>
                    <div class="inner-card">
                        <h2>Add Client</h2>
                        <form id="addClientForm" class="add-form">
                            <div class="form-group">
                                <label for="name">Enter Client Name</label>
                                <input class="input-class" type="text" id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Enter Client Email</label>
                                <input class="input-class" type="email" id="email" required>
                            </div>
                            <div class="form-group">
                                <label for="contactNumber">Enter Contact Number</label>
                                <input class="input-class" type="tel" id="contactNumber" required>
                            </div>
                            <div class="form-group">
                                <label for="companyName">Enter Company Name</label>
                                <input class="input-class" type="text" id="companyName" required>
                            </div>
                            <div class="form-group">
                                <label for="avatar">Upload Client Avatar</label>
                                <input class="input-class" type="file" id="avatar" accept="image/*">
                            </div>
                            <div class="form-group">
                                <label for="password">Enter Password</label>
                                <input class="input-class" type="password" id="password" required>
                            </div>
                            <div class="form-group">
                                <label for="reenterPassword">Re-enter Password</label>
                                <input class="input-class" type="password" id="reenterPassword" required>
                            </div>
                            <button type="submit" class="add-client-button">Add client</button>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/pocketbase@0.8.0/dist/pocketbase.umd.js"></script>

    <script>

        const pb = new PocketBase('https://five206pocketbase.onrender.com');

        document.getElementById('addClientForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const username = document.getElementById('name').value;
            const Email = document.getElementById('email').value;
            const contactnumber = document.getElementById('contactNumber').value;
            const companyname = document.getElementById('companyName').value;
            const userpassword = document.getElementById('password').value;
            const avatarFile = document.getElementById('avatar').files[0]; 
            const reenteredPassword = document.getElementById('reenterPassword').value;


            if (userpassword !== reenteredPassword) {
                alert("Passwords do not match. Please try again.");
                console.log();
                return;
            }

            if (userpassword.length < 8) {  // Check if password is less than 8 characters
                alert("Password must be at least 8 characters long.");
                return;
            }

            const formData = new FormData();
            formData.append('username', username);
            formData.append('name', username);
            formData.append('Email', Email);
            formData.append('contactnumber', contactnumber);
            formData.append('companyname', companyname);
            formData.append('password', userpassword);

            if (avatarFile) {
                formData.append('avatar', avatarFile);
            }

            try {
                const record = await pb.collection('users').create(data);
                alert('Client added successfully!');
                document.getElementById('addClientForm').reset();

            } catch (error) {
                console.log('ERROR:', error);
                alert('There was an error adding the client. Please try again.');
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/add-client.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
