<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Add Client</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="menu-btn">
                <i class="ph-bold ph-caret-left"></i>
            </div>
            <div class="head">
                <div class="user-img">
                    <img id="adminAvatar" alt="Admin Avatar">
                </div>
                <div class="user-details">
                    <p class="title">Admin</p>
                    <p class="name" id="adminUsername-1"></p>
                </div>
            </div>
            {% include 'menu.html' %}
        </div>
        <div class="main-content">
            <div class="content-area">
                <div class="card">
                    <button id="backButton">
                        <a href="{{ url_for('clients_list')}}"><i class="ph-bold ph-arrow-left"></i></a>
                    </button>
                    <div class="inner-card">
                        <h2>Add Client</h2>
                        <form id="addClientForm" class="add-form">
                            <div class="form-group">
                                <label for="name">Enter Client Name</label>
                                <input class="input-class" type="text" id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Enter Client Email</label>
                                <input class="input-class" type="email" id="email" required>
                            </div>
                            <div class="form-group">
                                <label for="contactNumber">Enter Contact Number</label>
                                <input class="input-class" type="tel" id="contactNumber" required>
                            </div>
                            <div class="form-group">
                                <label for="companyName">Enter Company Name</label>
                                <input class="input-class" type="text" id="companyName" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Enter Password</label>
                                <input class="input-class" type="password" id="password" required>
                            </div>
                            <div class="form-group">
                                <label for="reenterPassword">Re-enter Password</label>
                                <input class="input-class" type="password" id="reenterPassword" required>
                            </div>
                            <button type="submit" class="add-client-button">Add client</button>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/pocketbase@0.8.0/dist/pocketbase.umd.js"></script>

    <script>

        const pb = new PocketBase('https://five206pocketbase.onrender.com');

        document.getElementById('addClientForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const clientName = document.getElementById('name').value;
            const clientEmail = document.getElementById('email').value;
            const contactNumber = document.getElementById('contactNumber').value;
            const companyName = document.getElementById('companyName').value;
            const password = document.getElementById('password').value;
            

            const data = {
                "clientName": clientName,
                "clientEmail": clientEmail,
                "contactNumber": contactNumber,
                "companyName": companyName,
                "password": password
            }

            try {
                const record = await pb.collection('users').create(data);

            } catch (error) {
                console.log('ERROR');
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/add-client.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin-name.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin-avatar.js') }}"></script>
</body>
</html>
