<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Add Client</title>
</head>
<body>
    {% from "_formhelpers.html" import render_field %}
    <div class="container">
        <div class="sidebar">
            <div class="menu-btn">
                <i class="ph-bold ph-caret-left"></i>
            </div>
            <div class="head">
                <div class="user-img">
                    <img src="{{ url_for('static', filename='img/user.jpg') }}" alt="User" />
                </div>
                <div class="user-details">
                    <p class="title">Admin</p>
                    <p class="name">Kartik</p>
                    <p class="name" id="username">Loading...</p>
                </div>
            </div>
            {% include 'menu.html' %}
        </div>
        <div class="main-content">
            <div class="content-area">
                <div class="card">
                    <button id="backButton">
                        <a href="{{ url_for('clients_list')}}"><i class="ph-bold ph-arrow-left"></i></a>
                    </button>
                    <div class="inner-card">
                        <h2>Add Client</h2>
                        <form id="addClientForm" class="add-form">
                            <div class="form-group">
                                <label for="companyName">Client User Name</label>
                                <input class="input-class" type="text" id="companyName" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Client Full Name</label>
                                <input class="input-class" type="text" id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Client Email</label>
                                <input class="input-class" type="email" id="email" required>
                            </div>
                            <div class="form-group">
                                <label for="contactNumber">Client Number</label>
                                <input class="input-class" type="tel" id="contactNumber" required>
                            </div>                            
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="input-class" type="password" id="password" required>
                            </div>
                            <div class="form-group">
                                <label for="reenterPassword">Re-enter Password</label>
                                <input class="input-class" type="password" id="reenterPassword" required>
                            </div>
                            <button type="submit" class="add-client-button">Add client</button>
                            <div role="alert" id="flashDiv">
                                <label id="lblPass" class="modal-label"></label>
                            </div>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/pocketbase@0.8.0/dist/pocketbase.umd.js"></script>

    <script>

        
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/add-client.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
