<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Clients List</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="menu-btn">
                <i class="ph-bold ph-caret-left"></i>
            </div>
            <div class="head">
                <div class="user-img">
                    <img src="{{ url_for('static', filename='img/user.jpg') }}" alt="User" />
                </div>
                <div class="user-details">
                    <p class="title">Admin</p>
                    <p class="name">Kartik</p>
                </div>
            </div>
            {% include 'menu.html' %}
        </div>
        <div class="main-content">
            <div class="content-area">
                <div class="card">
                    <h2>Clients List</h2>
                    <table class="clients-table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Created</th>
                                <th>Updated</th>
                            </tr>
                        </thead>
                        <tbody id="clientsTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/clients-list.js') }}"></script>
</body>
</html>
