<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Add Project</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="menu-btn">
                <i class="ph-bold ph-caret-left"></i>
            </div>
            <div class="head">
                <div class="user-img">
                    <img id="adminAvatar" alt="Admin Avatar">
                </div>
                <div class="user-details">
                    <p class="title">Admin</p>
                    <p class="name" id="adminUsername-1"></p>
                </div>
            </div>
            {% include 'menu.html' %}
        </div>
        <div class="main-content">
            <div class="content-area">
                <div class="card">
                    <h2>Add New Project</h2>
                    <form action="{{ url_for('project_form') }}" method="POST" id="addProjectForm" class="add-form">
                        <div class="form-group">
                            <label for="projectName">Enter Project Name</label>
                            <input class="input-class" type="text" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="user">Select Client</label>
                            <select class="input-class" name="user" id="user" required>

                            </select>
                        </div>
                        <button type="submit" class="add-client-button">Add project</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/pocketbase@0.8.0/dist/pocketbase.umd.js"></script>

    <script>

        const authData = localStorage.getItem('admin_auth');
            if (!authData) {
                window.location.href = "/login"; // Redirect to login if not authenticated
            }


        const pb = new PocketBase('https://five206pocketbase.onrender.com');

        async function loadUsers() {
            try {
                const response = await fetch('https://five206pocketbase.onrender.com/api/collections/users/records', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${JSON.parse(authData).token}`
                }
            });

            if (response.ok) {
                const usersData = await response.json(); 
                const users = usersData.items;

                const userSelect = document.getElementById('user');
                console.log(users);
                users.forEach(user => {
                    const option = document.createElement('option');
                    option.value = user.id; 
                    option.textContent = user.name; 
                    userSelect.appendChild(option);
                });

            }
            else{
                console.error('Failed to fetch clients.');
            }
            } catch (error) {
                console.error('Error fetching clients:', error);
            }
        }

        window.onload = loadUsers;

        document.getElementById('addProjectForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const projectName = document.getElementById('name').value;
            const userId = document.getElementById('user').value;
            const data = {
                "projectName": projectName,
                "userId":userId
            }

            try {
                const record = await pb.collection('project').create(data);
                
                localStorage.setItem('projectName', projectName);
                localStorage.setItem('projectId', record.userId);
                
                window.location.href = "{{url_for('question_form')}}";

            } catch (error) {
                console.error('Error adding project:', error);
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin-name.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin-avatar.js') }}"></script>
</body>
</html>