<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Add Project</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="menu-btn">
                <i class="ph-bold ph-caret-left"></i>
            </div>
            <div class="head">
                <div class="user-img">
                    <img src="{{ url_for('static', filename='img/user.jpg') }}" alt="User" />
                </div>
                <div class="user-details">
                    <p class="title">Admin</p>
                    <p class="name">Kartik</p>
                </div>
            </div>
            {% include 'menu.html' %}
        </div>
        <div class="main-content">
            <div class="content-area">
                <div class="card">
                    <div class="inner-card">
                        <h2>Add New Project</h2>
                        <form id="addProjectForm" class="add-form">
                            <div class="form-group">
                                <label for="projectName">Enter Project Name</label>
                                <input class="input-class" type="text" id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="abc">Select Client</label>
                                <select class="input-class" name="client" id="abc">
                                    <script>
                                        
                                    </script>
                                    <option value="a">A</option>
                                    <option value="b">B</option>    
                                    <option value="c">C</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="logoFile">Enter Logo</label>
                                <input   type="file" id="logoFile"  required>
                            </div>
                            <div class="form-group">
                                <label for="description">Enter description</label>
                                <input class="input-class" type="textarea" rows="4" id="description" required>
                            </div>
                            <div class="form-group">
                                <label for="features">Enter Top features</label>
                                <input class="input-class" type="textarea" rows="4" id="features" required>
                            </div>
                            <div class="form-group">
                                <label for="colors">Enter Hex-color codes</label>
                                <input class="input-class" type="textarea" rows="4" id="colors" required>
                            </div>
                            <div class="form-group">
                                <label for="resources">Enter other resources</label>
                                <input  type="file" id="resources"  required>
                            </div>
                            <button type="submit" class="add-client-button">Add project</button>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/pocketbase@0.8.0/dist/pocketbase.umd.js"></script>

    <script>

        const pb = new PocketBase('http://127.0.0.1:8090');

        document.getElementById('addProjectForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const projectName = document.getElementById('name').value;
            const projectClient = document.getElementById('abc').value;
            const projectDescription = document.getElementById('description').value;
            const ProjectFeatures = document.getElementById('features').value;
            const projectLogo = document.getElementById('logoFile').value;
            const projectColors = document.getElementById('colors').value;
            const projectResources = document.getElementById('resources').value;

            const data = {
                "projectName": projectName,
                "client":projectClient,
                "projectDescription":projectDescription,
                "features":ProjectFeatures,
                "logo":projectLogo,
                "colorCodes":projectColors,
                "otherResources":projectResources,
            }

            try {
                const record = await pb.collection('projects').create(data);

            } catch (error) {
                console.log('ERROR');
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
